<!DOCTYPE html>
<html lang="ar" dir="rtl">  
  <%- include('components/head') -%>
  <body>
        <!-- Topbar start -->
        <%- include('components/navbar') -%>
            <!-- Topbar End -->


            <!-- Hero Start -->
            <div class="container-fluid hero-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="hero-header-inner animated zoomIn">
                                <h1 class="display-1 text-dark">عنا </h1>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسيه</a></li>
                                    <li class="breadcrumb-item text-dark" aria-current="page">عنا</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->


            <!-- About Satrt -->
            <%- include('components/about_container') -%>
            <!-- About End -->

            <!-- Footer Start -->
            <%- include('components/footer') -%>
                <!-- Footer End -->
                <%- include('components/files') -%>
    </body>

</html>