<!DOCTYPE html>
<html lang="ar" dir="rtl">  
  <%- include('components/head') -%>
  <body>
    <%- include('components/navbar') -%>
    <!-- Topbar End -->

    <!-- Hero Start -->
        <div class="container-fluid hero-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-header-inner animated zoomIn">
                            <h1 class="display-1 text-dark">انشطتنا</h1>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">الرئيسيه</a></li>
                              
                                <li class="breadcrumb-item text-dark" aria-current="page">انشطتنا</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Hero End -->


     <!-- Activities Start -->
     <%- include('components/activities_container') -%>
     <!-- Activities Ends -->

    <!-- Footer Start -->
    <%- include('components/footer') -%>
    <!-- Footer End -->
    <%- include('components/files') -%>
    </body>

</html>