<!DOCTYPE html>
<html lang="ar" dir="rtl">  
  <%- include('components/head') -%>
  <body>
    <%- include('components/navbar') -%>
        <!-- Topbar End -->


        <div class="container-fluid hero-header">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <div class="hero-header-inner animated zoomIn">
                    <h1 class="display-1 text-dark"> تواصل معنا</h1>
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                      <li class="breadcrumb-item text-dark" aria-current="page">اتصل بنا</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%- include('components/contact_container') -%>
          
  <!-- Footer Start -->
  <%- include('components/footer') -%>
  <!-- Footer End -->
<%- include('components/files') -%>
    
    </body>

</html>