<!DOCTYPE html>
<html lang="ar" dir="rtl">  
  <%- include('components/head') -%>
  <body>
    <%- include('components/navbar') -%>
    <div class="container-fluid test-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-header-inner animated zoomIn">
                        <h1 class="display-1 text-dark text-center">اختبر معلوماتك </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="quiz-container">
     
      <form id="quiz-form" action="/submit" method="post">
        <div id="question-container">
          <% for (const question of questions) { %>
            <div class="question">
              <h3><%= question.question %></h3>
              <ul id="answer-options">
                <% for (let i = 0; i < question.options.length; i++) { %>
                  <li>
                    <input type="radio" id="q<%= question.id %>-option-<%= i %>"
                           name="q<%= question.id %>" value="<%= question.options[i] %>">
                    <label for="q<%= question.id %>-option-<%= i %>"><%= question.options[i] %></label>
                  </li>
                  <input type="hidden" id="q<%= question.id %>-answer" value="<%= question.options[i] %>">
                <% } %>
                
              </ul>
            </div>
          <% } %>
          
        </div>
        
        <button type="submit" id="show-results-btn"  class="btn btn-primary mt-4" >التالي</button>
      </form>
  
      <!-- <div id="result">
        <h2>نتيجة الاختبار: <span id="score"></span></h2>
        <p id="feedback"></p>
      </div> -->
    </div>
<script>
    const submitButton = document.getElementById('show-results-btn'); // Replace with actual button ID
    const answers = []; // Array to store answer objects
    
    async function sendAnswersToBackend(answers) {
  const response = await fetch('/submit', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(answers),
  });

  if (!response.ok) {
    console.error('Error sending answers:', response.statusText);
  } else {
    console.log('Answers sent successfully!');
  }
}

    submitButton.addEventListener('click', function () {
    for (let i = 0; i < questions.length; i++) {
      const questionId = parseInt(questions[i].id);
      const selectedAnswer = document.getElementById(`q${questionId}-option-${i}`).checked; // Assuming radio buttons with IDs like `q1-option-0` etc.
      answers.push({ questionId, selectedAnswer });
    }

    // Send the answers array to the backend using AJAX or fetch
    sendAnswersToBackend(answers);
    });

</script>
    <!-- Footer Start -->
    <%- include('components/footer') -%>
        <!-- Footer End -->
    <%- include('components/files') -%>
    </body>

</html>